$light-color: #fbffc2;
$dark-color: #bf2222;

$kid-background-color: $dark-color;
$kid-text-color: $light-color;
$headers-text-color: #000;
$body-background-color: $light-color;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $body-background-color;
  padding-top: 100px;
}

h1, h2, p {
  text-align: center;
  color: $headers-text-color;
}

.the-dad {
  display: flex;
  max-width: 900px;
  margin: 60px auto;

  .the-kids {
    width: 100%;
    height: 120px;
    background-color: $kid-background-color;
    color: $kid-text-color;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
