$dark-color: #bf2222;
$light-color: #fbffc2;

$body-background-color: $light-color;
$headers-text-color: #000;
$kid-background-color: $dark-color;
$kid-text-color: $light-color;

body {
  background-color: $body-background-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 100px;
}

h1, h2, p {
  color: $headers-text-color;
  text-align: center;
}

.the-dad {
  display: flex;
  margin: 60px auto;
  max-width: 900px;

  .the-kids {
    align-items: center;
    background-color: $kid-background-color;
    color: $kid-text-color;
    display: flex;
    height: 120px;
    justify-content: center;
    margin: 0 10px;
    width: 100%;
  }
}
